#main-playbar {
    position: fixed;
    z-index: 5;
    background-color: aliceblue;
    width: 100vw;
    bottom: 0;
    background-color: rgb(18, 18, 18);

    border-top: 1px solid rgba(128, 128, 128, 0.19);
}
#mini-album-cover {
    width: 56px;
    height: 56px;
}

#main-playbar p {
    color: white;
}
#playbar-middle {
    margin-right: 50px;
}
#playbar-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 15px;
}
#left-playbar{
    display: flex;
    gap: 15px;
}
#titlewartist{
    color: #F3F3F3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7px;
}
#just-title {
    font-size: 14px;
}
#just-artist {
    font-size: 13px;
    color: #989898;
}

#playbar-middle {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#controls {
    color: whitesmoke;
    display: flex;
    gap: 20px;
    flex-flow: row nowrap;
    align-items: center;
    font-size: 25px;
}

#controls-play {
    font-size: 35px;
}
