#display-playlist-name{
    /* margin-top: 5px; */
    margin-left: 20px;
    font-size: 15px;
}


/* .side-options {
    position: relative;
    height: 35px;
    display: flex;
    align-items: center;
    gap: 20px;
    color: #a7a7a7;
    transition: 0.3s;
} */