#login-big-container{
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 3;
    /* border: 1px solid green; */
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.503);
    display: flex;
    justify-content: center;
}

#login-inner-container {
    border-radius: 16px;
    /* border: 1px solid green; */
    width: 60vw;
    height: 60vh;
    align-self: center;
    background-image: linear-gradient(rgb(49, 49, 49), rgb(29, 29, 29));
    display: flex;
    align-items: center;
    justify-content: center;
}

#login-image-text-container{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#login-album-art{
    border-radius: 16px;
    /* border: 1px solid red; */
    width: 20vw;
    height: 20vw;
    margin-right: 5vw;
}

#login-text-side{
    /* border: 1px solid rgb(0, 128, 255); */
    display: grid;
    /* width: 24vw; */
    flex-direction: column;
    align-items: center;
}

#start-listening-text{
    /* border: 3px solid rgb(28, 213, 53); */
    font-size: 30px;
    width: 24vw;
    text-align: center;
    color: white;
}

#login-button-holder{
    /* border: 3px solid rgb(28, 213, 53); */
    display: flex;
    flex-direction: column;
    height: 22vh;

    justify-content: space-around;
    align-items: center;
}

.login-modal-buttons{
    border-radius: 35px;
    color: white;
    /* border: 1px solid red; */
    text-align: center;
    width: fit-content;
    font-size: 15px;
    font-weight: bold;
    padding: 16px 35px 16px 35px;
    background-color: #1ed760;
}

.login-modal-buttons:hover{
    transition: 0.3s;
    transform: scale(1.03);
}

#only-signup{
}
#only-login{
}

.login-modal-buttons a{
    color: black;
    text-decoration: none;
}




/* #login-submit-button {
    align-self: center;
    font-size: 15px;
    font-weight: bold;
    width: 124px;
    border: 2px solid white;
    background-color: #1ed760;
    padding: 15px;
    border-radius: 35px;
}

#submit-button {
    font-size: 17px;
    font-weight: bold;
    width: 175px;
    border: 2px solid white;
    background-color: #1ed760;
    padding: 17px;
    border-radius: 35px;
    align-self: center;
    transition: 0.3s;

} */