#main-content-container {
    /* max-width:max-content; */
    height: 100%;
    background-color: #171717;
    position:absolute;
    z-index: 1;
    padding-left: 269px;
    padding-top: 61px;
}
#main-content-container h1 {
    font-family: sans-serif;
    font-size: 25px;
    color: white;
    padding-top: 20px;
}

#main-content-container h2 {
    margin-bottom: 20px;
    font-family: sans-serif;
    font-size: 1.5rem;
    color: white;

}

#album-content-container {
    padding: 30px;
}
