/* fix h1 css so that it doesn't apply to all components */

#signup-form-container h1 {
    margin-top: 20px;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 20px;
}
#login-form {
    display: flex;
    flex-direction: column;
    width: 350px;

}

.all-labels {
    display: flex;
    flex-direction: column;
}

.labels {
    display: flex;
    flex-direction: column;
    padding-bottom: 24px;
}

#signup-form-container label {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

#signup-form-container input {
    padding-inline: 14px;
    border: 0.25px solid gray;
    display: block;
    font-size: 15px;
    inline-size: 100%;
    box-sizing: border-box;
    margin-block: 0px;
    border-radius: 4px;
    min-block-size: 47px;
    color: black;
}

#login-submit-button {
    position: relative;
    left: 35px;
    font-size: 15px;
    font-weight: bold;
    width: 124px;
    border: 2px solid white;
    background-color: #1ed760;
    padding: 15px;
    border-radius: 35px;
}
#demo-login-button {
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: bold;
    width: 124px;
    border: 2px solid white;
    background-color: #1ed760;
    padding: 15px;
    border-radius: 35px;
}
