form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-style: solid;
    border-color: green;

}

input {
    margin-left: 10px;
    margin-bottom: 5px;
}