/* when logged in, this will render */
#nav-bar {
    background-color: #101010; 
	font-family: sans-serif, "Helvetica Neue", Helvetica;
    width: 100vw;
    height: 62px;
    position: fixed;
    top: 0;
    right:0;
    z-index: 2;
}
/* ------------------ */

.links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 22px;
}


.links a {
    padding: 20px;
    text-decoration: none;
    color: #a7a7a7;
    font-size: 15px;
    font-weight: bold;
    transition: 0.3s;
}

#signup a:hover {
    color: white;
}

#login {
    margin-top: -18px;
    margin-right: 38px;
    margin-left: 15px;
    background-color: white;
    padding: 16px;
    border-radius: 30px;
    transition: 0.3s;
}

#login a{
    color: #202020
}

#login:hover {
    transform: scale(1.05);
}

.container {
    width: 100vw;
    height: 57px;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.profile-button-holder {
    position: relative;
    margin-right: 52px;
}