.profilebutton {
    all: unset;
    display: flex;
    flex-direction: row;
    background-color: rgba(45, 45, 45, 0.7);
    gap: 8px;
    justify-content: center;
    padding: 1px;
    position: relative;
    align-items: center;
    border-radius: 20px;
    width: 120px;
    height: 28px;
    transition: 0.3s;
    
}
.profilebutton:hover{
    background-color: #5f5e5e;
}
#caret {
    margin-left: 6px;
    margin-right: 12px;
}
#user-name {
    /* border: 1px solid white; */
    white-space: nowrap;
    text-overflow: ellipsis;
    /* width: 58px; */
    /* height: 20px; */
    overflow: hidden;
    font-size: 14px;
    color: white;
}
#pfp {
    margin-left: 9px;
}

#profile-dropdown-container {
    position: absolute;
    top: 34px;
    left: -98px;
    width: 196px;
    /* height: 248px; */
    height: auto;
    margin-top: 8px;
    background-color: #282828;
    border-radius: 3px;
    z-index: 10000;
}

.profile-dropdown {
    display: flex;
    flex-direction: column;
}

.profile-dropdown li {
    padding: 4px;
    transition: 0.3s;
}
.profile-dropdown div{
    padding: 10px;
}
.profile-dropdown div:hover {
    background-color: #6a6a6a;
    border-radius: 3px;
}

.profile-dropdown div {
    cursor: pointer;
    color: white;
    font-size: 13.5px;
}
