.profilebutton {
    all: unset;
    display: flex;
    flex-direction: row;
    border: 2px solid green;
    background-color: rgba(0,0,0,0.7);
    gap: 8px;
    justify-content: center;
    padding: 1px;
    position: relative;
    align-items: center;
    border-radius: 20px;
    width: 95px;
    height: 28px;
    margin-bottom: 33px;
}
.profilebutton:hover{
    background-color: #282828;
}
#caret {
    margin-left: 6px;
    margin-right: 12px;
}
#user-name {
    font-size: 14px;
    color: white;
}
#pfp {
    margin-left: 9px;
}

#profile-dropdown-container {
    /* border: 1px solid green; */
    position: absolute;
    top: 34px;
    left: -98px;
    width: 196px;
    /* height: 248px; */
    height: auto;
    margin-top: 8px;
    background-color: #565656;
    border-radius: 3px;
    z-index: 10000;
}

.profile-dropdown {
    display: flex;
    flex-direction: column;
}

.profile-dropdown li {
    /* border: 1px solid white; */
    padding: 14px;
}
.profile-dropdown li:hover {
    /* border: 1px solid white; */
    background-color: #6a6a6a;
    /* width: 170px; */
    border-radius: 3px;
}

.profile-dropdown div {
    cursor: pointer;
    color: white;
    font-size: 14px;
    margin-left: 5px;
}
