#side-bar {
    background-color: rgb(0, 0, 0);
    z-index: 2;
    position: fixed;
    top: 0;
    height: 100vh;
    width: 18vw;
}

.icon {
    margin-top: 23px;
    margin-left: 23px;
    width: 130px;
}

.side-options {
    position: relative;
    height: 35px;
    display: flex;
    align-items: center;
    gap: 20px;
    color:#a7a7a7;
    transition: 0.3s;
}
.side-options:hover {
    color: white;
    cursor: default;
}

.side-options-holder {
    margin-top: 25px;
}

.side-icon {
    color: inherit;
    margin-left: 20px;
    font-size: 20px;
}
#book-icon{
    font-size: 22px;
}
#square-plus {
    font-size: 25px;
}
.side-option-text {
    color: inherit;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
}
#side-option-bottom-border {
    width: 15vw;
    margin-top: 10px;
    margin-left: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.308);
}
